  body {
  background-image: url("https://images.unsplash.com/photo-1570595635598-a5cc5e5524fe?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1490&q=80");
  background-size: cover;
  font-size: 20px;
}

h1 {
  color: black;
  text-align: center;
  padding-right: 266px;
}
h2 {
  color: black;
  text-align: center;
  padding-right: 266px;
}

h5  {
  text-align: left;
  color: white;
  background-color: blue;
}
#div1{
  background-color: rgb(255,255,255,.2);
  text-align: left;
  width: 500px;

}

p {
  text-decoration-color: black;
}


/* a {
  color: white;
} */
li {
  list-style: none;
  display: inline-grid;
  padding: 2px;
}
/* .sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
} */

.sidebar {
  float: left;
  display: inline-flex;
  width: 45%;

}
/* iframe {
  width: 500px
  height: 600px;
} */
.page {
  display: inline;
  justify-content: center;
  width: 900px;
  margin: 0 auto;
  border: 1px solid red;  /* Add this


.sidebar2 {
  /* display: block; */
   flex-wrap:   wrap;
   justify-content:    center;
  /* float: left;
  flex: auto; */
  border-width: 4px;
  border-style: solid;
  border-color: Black;
  width: 400px;
  background-color:black;
  padding-left: 255px;
  padding-right: 255px;
}
 #wrap { width: 600px; height: 390px; padding: 0; overflow: hidden; }
#frame { width: 50%; height: 800px; border: 1px solid black; }
#frame {
    align: left;
    margin-left: 0;
    -ms-zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
}

footer{
  clear: both;
  /* height: 200px; */
  background-color: #D6E9FE;    /* Light blue */
  width: 500px;
}
